In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy import stats

In [31]:
beerConsumption_PATH = 'data/BeerConsumption.csv'

beerConsumption_df = pd.read_csv(beerConsumption_PATH)
print(beerConsumption_df.columns)
beerConsumption_df

Index(['country', 'BeerConsumptionTotalConsumption1000t2021',
       'BeerConsumptionPerCapitakg2021',
       'beerConsumptionByCountry_consmPerCap2020',
       'beerConsumptionByCountry_consmPerCap'],
      dtype='object')

,country,BeerConsumptionTotalConsumption1000t2021,BeerConsumptionPerCapitakg2021,beerConsumptionByCountry_consmPerCap2020,beerConsumptionByCountry_consmPerCap
0,India,1474.0,1.05,1401.0,1.00
1,China,34979.0,23.99,33297.0,22.85
2,United States,24563.0,72.89,24263.0,72.22
3,Indonesia,193.0,0.71,191.0,0.70
4,Pakistan,8.0,0.03,8.0,0.03
...,...,...,...,...,...
177,Micronesia,1.0,11.78,1.0,13.00
178,Saint Vincent and the Grenadines,3.0,29.63,3.0,25.43
179,Antigua and Barbuda,3.0,26.82,3.0,32.38
180,Dominica,1.0,13.19,1.0,16.87
181,Saint Kitts and Nevis,1.0,13.80,1.0,21.13

In [32]:
breweries_PATH = 'data/Dataset/BeerAdvocate/breweries.csv'

breweries_df = pd.read_csv(breweries_PATH)
breweries_df

,id,location,name,nbr_beers
0,39912,Kyrgyzstan,Abdysh-Ata (Абдыш Ата),5
1,39913,Kyrgyzstan,Arpa (АРПА),1
2,39914,Kyrgyzstan,Bear Beer,4
3,39915,Kyrgyzstan,Blonder Pub,4
4,39916,Kyrgyzstan,Kellers Bier,2
...,...,...,...,...
16753,128,Germany,Privatbrauerei Franz Joseph Sailer,6
16754,5023,Aruba,Aruba Brewing,0
16755,1573,"United States, New York",John Harvard’s Brewery & Ale House,491
16756,16186,"United States, North Carolina",Triangle Brewing Company,20
16757,1138,"United States, Maryland",South Baltimore Brewing,0

In [33]:
rating_PATH = 'data/Dataset/BeerAdvocate/ratings.csv'

ratings_df = pd.read_csv(rating_PATH)
ratings_df

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,1440064800,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ...",True
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1235127600,StJamesGate,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,Pours pale copper with a thin head that quickl...,True
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1142247600,mdagnew,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim.....",True
3,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1101898800,helloloser12345,helloloser12345.10867,4.00,3.50,4.00,4.00,4.5,3.98,Serving: 500ml brown bottlePour: Good head wit...,True
4,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1093860000,cypressbob,cypressbob.3708,4.00,4.00,4.00,4.00,4.0,4.00,"500ml bottlePours with a light, slightly hazy ...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8393027,Kölsch Ale,19139,Summit Station Restaurant & Brewery,885,Kölsch,5.0,1141038000,jaluria,jaluria.31362,3.50,3.50,3.50,4.00,4.0,3.80,I'll start off reviewing this beer with the fo...,True
8393028,Kölsch Ale,19139,Summit Station Restaurant & Brewery,885,Kölsch,5.0,1140346800,Dithyramb,dithyramb.4413,3.00,3.00,3.00,2.50,3.0,2.80,Served on draft at the pub. Poured a clear yel...,True
8393029,Kölsch Ale,19139,Summit Station Restaurant & Brewery,885,Kölsch,5.0,1092132000,ManekiNeko,manekineko.2654,3.00,1.50,1.00,1.50,1.5,1.54,Served on tap at the brewpub in a pint glass.A...,True
8393030,Nut Brown Ale,19140,Summit Station Restaurant & Brewery,885,English Brown Ale,5.3,1341741600,Redsox1539,redsox1539.683632,NaN,NaN,NaN,NaN,NaN,3.50,NaN,False
8393031,Nut Brown Ale,19140,Summit Station Restaurant & Brewery,885,English Brown Ale,5.3,1140346800,Dithyramb,dithyramb.4413,3.00,3.00,3.00,3.00,3.0,3.00,Dark brown brew served on tap at the brewpub. ...,True

In [34]:
tmp_df = ratings_df.merge(breweries_df, left_on='beer_id', right_index=True)
tmp_df

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,...,palate,taste,overall,rating,text,review,id,location,name,nbr_beers
154,Caffrey's Irish Ale,825,Thomas Caffrey Brewing Co.,297,Irish Red Ale,3.8,1500112800,GregKobeArntz24,gregkobearntz24.1206160,4.5,...,4.25,4.5,4.50,4.54,NaN,False,6577,England,Titanic Brewery,44
155,Caffrey's Irish Ale,825,Thomas Caffrey Brewing Co.,297,Irish Red Ale,3.8,1483182000,awjess,awjess.1185716,4.5,...,4.25,4.0,4.25,4.11,"Look - Has a nice foamy head, Feel - Creamy ...",False,6577,England,Titanic Brewery,44
156,Caffrey's Irish Ale,825,Thomas Caffrey Brewing Co.,297,Irish Red Ale,3.8,1468317600,fr0wn3r,fr0wn3r.862994,3.0,...,3.00,3.0,3.00,3.06,NaN,False,6577,England,Titanic Brewery,44
157,Caffrey's Irish Ale,825,Thomas Caffrey Brewing Co.,297,Irish Red Ale,3.8,1459418400,Fatehunter,fatehunter.326927,4.0,...,4.00,3.5,3.50,3.52,Pours a finger of head on a hazy darker straw ...,True,6577,England,Titanic Brewery,44
158,Caffrey's Irish Ale,825,Thomas Caffrey Brewing Co.,297,Irish Red Ale,3.8,1450263600,MTLDOG,mtldog.920333,4.5,...,4.00,3.0,3.75,3.52,NaN,False,6577,England,Titanic Brewery,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8392198,Michigan Brewing Wheatland,3832,Michigan Brewing Company,565,Hefeweizen,5.0,1128506400,ypsifly,ypsifly.8833,3.5,...,3.50,4.0,4.00,3.80,Undated 12oz pored into a weizen.Hazed gold wi...,True,5801,Germany,Brauerei A. Goldschadt,0
8392199,Michigan Brewing Wheatland,3832,Michigan Brewing Company,565,Hefeweizen,5.0,1078138800,jsolack,jsolack.4869,3.0,...,4.00,3.5,4.00,3.50,Appearance:Beer has a hazy pale yellow color. ...,True,5801,Germany,Brauerei A. Goldschadt,0
8392200,Michigan Brewing Wheatland,3832,Michigan Brewing Company,565,Hefeweizen,5.0,1070622000,DrunkMcDermott,drunkmcdermott.2577,4.0,...,3.00,3.5,3.50,3.36,"Served at the brewery taproom. Yes, it's a ver...",True,5801,Germany,Brauerei A. Goldschadt,0
8392201,Michigan Brewing Wheatland,3832,Michigan Brewing Company,565,Hefeweizen,5.0,1052042400,Mitchster,mitchster.1235,4.0,...,4.50,4.0,4.00,4.05,"Cloudy, straw-golden with a thin white head at...",True,5801,Germany,Brauerei A. Goldschadt,0
8392266,Buckeye Brown,8952,Ohio Brewing Company,4210,English Brown Ale,NaN,1047726000,Dogbrick,dogbrick.487,4.0,...,2.00,2.0,2.50,2.58,"Found at the Wine Vault in Dublin, OH. This br...",True,46332,"United States, California",Ocean Beach Brewery,7

In [35]:
print(tmp_df.columns)
print(beerConsumption_df.columns)

print(tmp_df['location'].unique())
print(beerConsumption_df['country'].unique())

Index(['beer_name', 'beer_id', 'brewery_name', 'brewery_id', 'style', 'abv',
       'date', 'user_name', 'user_id', 'appearance', 'aroma', 'palate',
       'taste', 'overall', 'rating', 'text', 'review', 'id', 'location',
       'name', 'nbr_beers'],
      dtype='object')
Index(['country', 'BeerConsumptionTotalConsumption1000t2021',
       'BeerConsumptionPerCapitakg2021',
       'beerConsumptionByCountry_consmPerCap2020',
       'beerConsumptionByCountry_consmPerCap'],
      dtype='object')
['England' 'Slovenia' 'United States, New York' 'United States, Florida'
 'France' 'Portugal' 'Venezuela' 'Brazil' 'Germany'
 'United States, Pennsylvania' 'United States, Texas' 'Austria'
 'United States, Idaho' 'Belgium' 'Denmark' 'Canada' 'Sweden' 'Mexico'
 'United States, Minnesota' 'United States, Missouri'
 'United States, Arizona' 'United States, Connecticut'
 'United States, Illinois' 'Scotland' 'Greece' 'Switzerland' 'Japan'
 'United States, Oregon' 'Italy' 'Vietnam' 'United States, New Mexico'
 'Saint Lucia' 'Poland' 'Wales' 'Australia' 'Albania'
 'United States, North Carolina' 'Canada, British Columbia'
 'United States, Maryland' 'China' 'United States, Massachusetts'
 'Ecuador' 'United States, Maine' 'United States, Ohio' 'Czech Republic'
 'United States, Nevada' 'United States, Michigan'
 'United States, Vermont' 'Ukraine' 'United States, Wisconsin'
 'United States, California' 'Norway' 'Finland' 'Serbia' 'Russia' 'Jordan'
 'United States, Oklahoma' 'United States, Washington' 'New Zealand'
 'Malta' 'Bulgaria' 'Netherlands' 'Spain' 'United States, Virginia'
 'United States, Colorado' 'United States, Indiana' 'Cuba' 'Chile'
 'Canada, Alberta' 'Lithuania' 'Costa Rica' 'United States, Georgia'
 'United States, West Virginia' 'Ireland' 'Hungary' 'Chad' 'Croatia'
 'Angola' 'Northern Ireland' 'United States, Hawaii'
 'United States, Kentucky' 'Kazakhstan' 'United States, Louisiana'
 'Namibia' 'Canada, Quebec' 'Estonia' 'United States, Alaska' 'Belarus'
 'United States, Delaware' 'Philippines' 'United States, Utah'
 'United States, New Jersey' 'French Polynesia' 'United Kingdom, England'
 'North Korea' 'Argentina' 'United States, South Carolina' 'Armenia'
 'Romania' 'United States, New Hampshire'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://capcitybrew.com" target="_blank">capcitybrew.com'
 'UNKNOWN' 'Senegal' 'United States, Wyoming' 'United States, Alabama'
 'South Africa' 'United States, Kansas' 'South Korea' 'Georgia' 'Gambia'
 'Iceland' 'Uruguay' 'Malaysia' 'Lebanon' 'United States, Mississippi'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://herefordandhops.com" target="_blank">herefordandhops.com'
 'Benin' 'Iran' 'India' 'Egypt' 'United States, South Dakota' 'Bahamas'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://snakeriverbrewing.com" target="_blank">snakeriverbrewing.com'
 'United States, Iowa' 'Puerto Rico'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://weepingradish.com" target="_blank">weepingradish.com'
 'United States, Nebraska' 'United States, Tennessee' 'Isle of Man'
 'Taiwan' 'Canada, Manitoba'
 'Illinois</a>, 60614-4939, <a href="/place/directory/9/US/">United States'
 'Cambodia' 'Libya' 'Cape Verde Islands' 'United States, Montana'
 'Nigeria' 'United States, Arkansas'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map'
 'United States, North Dakota' 'Canada, Nova Scotia' 'Kenya'
 'Virgin Islands (U.S.)' 'Latvia' 'Colombia' 'Turkey' 'Slovak Republic'
 'Panama' 'Bolivia' 'Macedonia' 'Canada, Ontario'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://shipyard.com" target="_blank">shipyard.com'
 'Mongolia'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://triumphbrew.com" target="_blank">triumphbrew.com'
 'United States, Rhode Island' 'Madagascar' 'Tajikistan'
 'United Kingdom, Scotland' 'United Kingdom, Wales'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://barleysbrewing.com" target="_blank">barleysbrewing.com'
 'Virgin Islands (British)' 'Israel' 'Paraguay' 'Tunisia'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://bluecorncafe.com" target="_blank">bluecorncafe.com'
 'Fiji Islands' 'Algeria' 'Lesotho' 'Vanuatu' 'Hong Kong' 'Guernsey'
 'Guinea-Bissau' 'Singapore' 'Montenegro' 'Honduras' 'Guam' 'Thailand'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://ilvicino.com" target="_blank">ilvicino.com'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://tiedhouse.com" target="_blank">tiedhouse.com'
 'Cyprus' 'Peru' 'Kyrgyzstan' 'Gabon' 'Laos' 'Luxembourg'
 'Antigua & Barbuda' 'Sri Lanka' 'United Arab Emirates' 'San Marino'
 'Dominican Republic' 'Andorra' 'Botswana' 'Papua New Guinea' 'Macau'
 'Nepal' 'Myanmar' 'Ivory Coast'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://empirebrewco.com" target="_blank">empirebrewco.com'
 'Bosnia and Herzegovina' 'Guatemala' 'Aruba' 'Haiti' 'Tanzania' 'Monaco'
 'Moldova' 'Ghana'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://sebagobrewing.com" target="_blank">sebagobrewing.com'
 'Indonesia' 'Nicaragua' 'Morocco' 'El Salvador' 'French Guiana'
 'Equatorial Guinea' 'Mozambique' 'Bhutan' 'Uzbekistan'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://tworows.com" target="_blank">tworows.com'
 'Reunion' 'Uganda' 'Mauritius' 'Greenland' 'Central African Republic'
 'Iraq' 'Faroe Islands'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://seadogbrewing.com" target="_blank">seadogbrewing.com'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://mcmenamins.com" target="_blank">mcmenamins.com'
 'Turkmenistan'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://mendobrew.com" target="_blank">mendobrew.com'
 'Trinidad & Tobago' 'Cook Islands'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://thirstydog.com" target="_blank">thirstydog.com'
 'Dominica' 'Jamaica' 'Liberia' 'Azerbaijan'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://rockbottom.com" target="_blank">rockbottom.com'
 'Curaçao' 'Saint Vincent and The Grenadines' 'Guinea' 'Palestine'
 'Solomon Islands' 'Canada, New Brunswick'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://bigbuck.com" target="_blank">bigbuck.com'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://steelheadbrewingco.com" target="_blank">steelheadbrewingco.com'
 'Micronesia'
 'Utah</a><br><a href="http://utahbeers.com" target="_blank">utahbeers.com'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://hopsonline.com" target="_blank">hopsonline.com'
 'Jersey' 'Congo' 'Cameroon' 'Burkina Faso' 'Zambia' 'Tonga' 'Zimbabwe'
 'Samoa' 'Seychelles' 'New Caledonia' 'Bangladesh' 'Syria' 'Ethiopia'
 'Pakistan' 'Liechtenstein' 'Barbados' 'Canada, Saskatchewan'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://ironhillbrewery.com" target="_blank">ironhillbrewery.com'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://fullsailbrewing.com" target="_blank">fullsailbrewing.com'
 'Guadeloupe' 'Martinique' 'Grenada' 'United States, United States'
 'Swaziland' 'South Sudan' 'Bermuda'
 'United States</a> | <a href="http://maps.google.com/maps?oi=map&q=%2C+US" target="_blank">map</a><br><a href="http://sonorabrew.com" target="_blank">sonorabrew.com'
 'Canada, Newfoundland and Labrador' 'Sao Tome and Principe']
['India' 'China' 'United States' 'Indonesia' 'Pakistan' 'Nigeria' 'Brazil'
 'Bangladesh' 'Russia' 'Ethiopia' 'Mexico' 'Japan' 'Egypt' 'Philippines'
 'DR Congo' 'Vietnam' 'Iran' 'Turkey' 'Germany' 'Thailand'
 'United Kingdom' 'Tanzania' 'France' 'South Africa' 'Italy' 'Kenya'
 'Myanmar' 'Colombia' 'South Korea' 'Sudan' 'Uganda' 'Spain' 'Algeria'
 'Iraq' 'Argentina' 'Afghanistan' 'Canada' 'Poland' 'Morocco' 'Angola'
 'Ukraine' 'Uzbekistan' 'Malaysia' 'Mozambique' 'Ghana' 'Peru'
 'Madagascar' 'Ivory Coast' 'Nepal' 'Cameroon' 'Venezuela' 'Niger'
 'Australia' 'North Korea' 'Syria' 'Mali' 'Burkina Faso' 'Taiwan'
 'Sri Lanka' 'Malawi' 'Zambia' 'Kazakhstan' 'Chad' 'Chile' 'Romania'
 'Senegal' 'Guatemala' 'Netherlands' 'Ecuador' 'Cambodia' 'Zimbabwe'
 'Guinea' 'Benin' 'Rwanda' 'Burundi' 'Bolivia' 'Tunisia' 'South Sudan'
 'Haiti' 'Belgium' 'Jordan' 'Dominican Republic' 'United Arab Emirates'
 'Cuba' 'Honduras' 'Czech Republic' 'Sweden' 'Tajikistan'
 'Papua New Guinea' 'Portugal' 'Azerbaijan' 'Greece' 'Hungary' 'Togo'
 'Israel' 'Austria' 'Belarus' 'Switzerland' 'Sierra Leone' 'Laos'
 'Turkmenistan' 'Hong Kong' 'Libya' 'Kyrgyzstan' 'Paraguay' 'Nicaragua'
 'Bulgaria' 'Serbia' 'El Salvador' 'Republic of the Congo' 'Denmark'
 'Lebanon' 'Finland' 'Liberia' 'Norway' 'Slovakia'
 'Central African Republic' 'Oman' 'Ireland' 'New Zealand' 'Mauritania'
 'Costa Rica' 'Kuwait' 'Panama' 'Croatia' 'Georgia' 'Mongolia' 'Uruguay'
 'Bosnia and Herzegovina' 'Qatar' 'Moldova' 'Namibia' 'Armenia'
 'Lithuania' 'Jamaica' 'Albania' 'Gambia' 'Gabon' 'Botswana' 'Lesotho'
 'Guinea-Bissau' 'Slovenia' 'Latvia' 'North Macedonia' 'Bahrain'
 'Trinidad and Tobago' 'Timor-Leste' 'Estonia' 'Cyprus' 'Mauritius'
 'Eswatini' 'Djibouti' 'Fiji' 'Comoros' 'Guyana' 'Solomon Islands'
 'Bhutan' 'Macau' 'Luxembourg' 'Montenegro' 'Suriname' 'Malta' 'Maldives'
 'Cape Verde' 'Belize' 'Bahamas' 'Iceland' 'Vanuatu' 'New Caledonia'
 'Barbados' 'French Polynesia' 'Sao Tome and Principe' 'Samoa'
 'Saint Lucia' 'Kiribati' 'Seychelles' 'Grenada' 'Micronesia'
 'Saint Vincent and the Grenadines' 'Antigua and Barbuda' 'Dominica'
 'Saint Kitts and Nevis']

In [36]:
tmp_df['location'] = tmp_df['location'].str.strip().str.lower()
beerConsumption_df['country'] = beerConsumption_df['country'].str.strip().str.lower()

merged_df = tmp_df.merge(beerConsumption_df, left_on='location', right_on='country')
merged_df['beer_consumption_per_capita'] = (merged_df['BeerConsumptionPerCapitakg2021'] + merged_df['BeerConsumptionPerCapitakg2021'])/2
print(merged_df.columns)
merged_df = merged_df[['beer_id', 'beer_name', 'rating', 'location', 'beer_consumption_per_capita']]
merged_df

Index(['beer_name', 'beer_id', 'brewery_name', 'brewery_id', 'style', 'abv',
       'date', 'user_name', 'user_id', 'appearance', 'aroma', 'palate',
       'taste', 'overall', 'rating', 'text', 'review', 'id', 'location',
       'name', 'nbr_beers', 'country',
       'BeerConsumptionTotalConsumption1000t2021',
       'BeerConsumptionPerCapitakg2021',
       'beerConsumptionByCountry_consmPerCap2020',
       'beerConsumptionByCountry_consmPerCap', 'beer_consumption_per_capita'],
      dtype='object')

,beer_id,beer_name,rating,location,beer_consumption_per_capita
0,7331,Stout,3.25,slovenia,66.25
1,7331,Stout,3.50,slovenia,66.25
2,7331,Stout,4.07,slovenia,66.25
3,7331,Stout,2.46,slovenia,66.25
4,7331,Stout,3.74,slovenia,66.25
...,...,...,...,...,...
1169805,3832,Michigan Brewing Wheatland,3.89,germany,91.30
1169806,3832,Michigan Brewing Wheatland,3.80,germany,91.30
1169807,3832,Michigan Brewing Wheatland,3.50,germany,91.30
1169808,3832,Michigan Brewing Wheatland,3.36,germany,91.30
1169809,3832,Michigan Brewing Wheatland,4.05,germany,91.30

In [37]:
merged_df.dropna()
merged_df = merged_df.groupby('location').agg(rating=('rating', 'mean'), beer_consumption_per_capita=('beer_consumption_per_capita', 'min'))
merged_df

             rating  beer_consumption_per_capita
location
albania    3.602621                        29.71
algeria    3.599868                         3.41
angola     3.706154                        32.73
argentina  3.523155                        42.59
armenia    3.396507                        12.08
...             ...                          ...
vanuatu    3.359439                         0.69
venezuela  3.445155                        11.17
vietnam    3.773474                        42.53
zambia     3.876429                        17.33
zimbabwe   3.604762                        13.93

[148 rows x 2 columns]

In [39]:
corr = merged_df['rating'].corr(merged_df['beer_consumption_per_capita'])
print
print("Correlation:", corr)

Correlation: 0.1886702326433897

In [ ]:
# plot a faire : voir week3

In [40]:
#H0 => no correlation

print(stats.pearsonr(merged_df['rating'], merged_df['beer_consumption_per_capita']))
print(stats.spearmanr(merged_df['rating'], merged_df['beer_consumption_per_capita']))

PearsonRResult(statistic=np.float64(0.1886702326433896), pvalue=np.float64(0.021648703784520766))
SignificanceResult(statistic=np.float64(0.19006132085108066), pvalue=np.float64(0.020682971553509392))